@import "node_modules/bootstrap/scss/bootstrap";

.chicken:hover {
    border: 10px dashed rgba(82,37,0,1) !important;
}

.formRow {
    margin: 5px;
}

.stripes:nth-child(even) {
    background-color: #AAFFAA;
}


.hoverable:hover {
    font-weight: bold;
    background-color: #00FF00;
}